<!DOCTYPE html>'

{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br><br> <br><br>
    <div class="container">
        <table>
        <tr>
            <td> Graduation : B.Tech (2016) </td>
            <td> College : CMR College of Engg & Technology </td>
        </tr>
        <tr>
            <td> Intermediate : IPE (2012) </td>
            <td> College : Sri Gayathri Junior College </td>
        </tr>
        <tr>
            <td> SSC : (2010) </td>
            <td> School : St.Arnold's High School </td>
        </tr>
    </table>
    </div>

</body>
</html>

{% endblock %}